@charset "utf-8";
body,h3,h4,ul,li,input,dl,dt,dd,p{margin: 0;padding: 0;font-size: 12px;font-family: "微软雅黑";}
ul{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: top;}
input{outline: none;border: none;}


/*公用样式*/
.clearfix{zoom: 1;}
.clearfix:after{display: block;content: "";clear: both;}
.fl{float: left;}
.fr{float: right;}
